*{
    margin: 0px;
    padding: 0px;
}

.Card {
    height: 300px;
    width: 300px;
    margin: 50px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px  black;
}

body {
    font-family: 'Akshar', sans-serif;
}


div .Card-Header {
    height: 50%;
    border-radius: 10px;
    position: relative;
}

.Card-Header img {
    transform: scaleX(-1);
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: -10px;
}

.Card-Avatar img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid red;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.Card-Body {
    background-color: white;
    height: 50%;
    position: relative;
}

.Card-Information {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.Card-Types {
    display: flex;
    justify-content: center;
    color: white;
}
.Card-Types div {
    padding: 5px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 25px;
    border-radius: 6px;
    box-sizing: border-box;
}

.Card-Detail {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    /* align-items: center; */
    border-top: 1px solid grey;
}

.Card-Description {
    flex-direction: column;
    width: 100px;
    display: flex;
    align-items: center;
    padding: 6px;
    border-right: 1px solid grey;
    color: grey;
}

.Card-Description:last-child {
    border: none;
}

.fighting {
    background-color: #C03028;
}

.poison {
    background-color: #A040A0;
}

.electric {
    background-color: #F8D030;
}

.fire {
    background-color: #F08030;
}

.normal {
    background-color: #A8A878;
}

.rock {
    background-color: #B8A038;
}

.ground {
    background-color:#E0C068;
}

.ice {
    background-color: #98D8D8;
}

.bug {
    background-color: #A8B820;
}

.dragon {
    background-color: #7038F8;
}

.ghost {
    background-color: #705898;
}

.dark {
    background-color: #705848;
}

.steel {
    background-color: #B8B8D0;
}

.fairy {
    background-color: #EE99AC;
}

.water {
    background-color: #6890F0;
}

.psychic {
    background-color: #F85888;
}

.flying {
    background-color:  #A890F0;
}
.grass {
    background-color:  #78C850;
}

.grid {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

.fixed {
    position: fixed;
    z-index: 100;
}